<!DOCTYPE html>
<html>
<head>
    <title>Detail Admin - Home</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- bootstrap -->
    <link href="{$Think.const.STATIC_PATH}bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="{$Think.const.STATIC_PATH}bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="{$Think.const.STATIC_PATH}bootstrap/css/bootstrap-overrides.css" type="text/css" rel="stylesheet" />

    <!-- libraries -->
    <link href="{$Think.const.PUBLIC_PATH}count/css/lib/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />
    <link href="{$Think.const.PUBLIC_PATH}count/css/lib/font-awesome.css" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="{$Think.const.PUBLIC_PATH}count/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.const.PUBLIC_PATH}count/css/elements.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.const.PUBLIC_PATH}count/css/icons.css" />

    <!-- this page specific styles -->
    <link rel="stylesheet" href="{$Think.const.PUBLIC_PATH}count/css/compiled/index.css" type="text/css" media="screen" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<style>
    .tickLabel
    {
        -o-transform:rotate(-60deg);
        -moz-transform:rotate(-60deg);
        -webkit-transform:rotate(-60deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }
</style>
<body>
<!-- navbar -->
<div class="navbar navbar-inverse">
    <h2 style="color: #9ecc9d;">武侯祠微信WIFI访问统计页面</h2>
</div>
<!-- main container -->
<div class="content" style="margin-left: 0px;">
    <div class="container-fluid">
        <!-- 访问量统计 -->
        <div id="main-stats">
            <div class="row-fluid stats-row">
                <div class="span3 stat">
                    <div class="data">
                        <span class="number">{$countToday}</span>
                    </div>
                    <span class="date">今日</span>
                </div>
                <div class="span3 stat">
                    <div class="data">
                        <span class="number">{$countWeek}</span>
                    </div>
                    <span class="date">本周</span>
                </div>
                <div class="span3 stat">
                    <div class="data">
                        <span class="number">{$countMonth}</span>
                    </div>
                    <span class="date">本月</span>
                </div>
                <div class="span3 stat last">
                    <div class="data">
                        <span class="number">{$count30}</span>
                    </div>
                    <span class="date">最近30天</span>
                </div>
            </div>
        </div>
        <!-- end upper main stats -->
        <div id="pad-wrapper">
            <!-- statistics chart built with jQuery Flot -->
            <div class="row-fluid chart">
                <h4>
                    <div class="btn-group pull-right">
                        <button class="glow left active glow1" onclick="linefun(1)">今日</button>
                        <button class="glow middle glow2" onclick="linefun(2)">本周</button>
                        <button class="glow right glow3" onclick="linefun(3)">本月</button>
                    </div>
                </h4>
                <div class="span12">
                    <div id="statsChart" style="height: 400px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{$Think.const.PUBLIC_PATH}count/js/jquery-latest.js"></script>
<script src="{$Think.const.PUBLIC_PATH}count/js/bootstrap.min.js"></script>
<script src="{$Think.const.PUBLIC_PATH}count/js/jquery-ui-1.10.2.custom.min.js"></script>
<!-- knob -->
<script src="{$Think.const.PUBLIC_PATH}count/js/jquery.knob.js"></script>
<!-- flot charts -->
<script src="{$Think.const.PUBLIC_PATH}count/js/jquery.flot.js"></script>
<script src="{$Think.const.PUBLIC_PATH}count/js/jquery.flot.stack.js"></script>
<script src="{$Think.const.PUBLIC_PATH}count/js/jquery.flot.resize.js"></script>
<script src="{$Think.const.PUBLIC_PATH}count/js/theme.js"></script>
<!-- scripts -->
<script type="text/javascript">
    var linefun = function(lab){
        if(!lab){
            lab = 1;
        }
        $('.active').removeClass('active');
        $('.glow'+lab).addClass('active');
        $.post('Index/getLineData',{lab:lab},function(result){
            var plot = $.plot($("#statsChart"),
                    [ { data: result.data, label: "连接次数"}], {
                        series: {
                            lines: { show: true,
                                lineWidth: 1,
                                fill: true,
                                fillColor: { colors: [ { opacity: 0.1 }, { opacity: 0.13 } ] }
                            },
                            points: {
                                show: true,
                                lineWidth: 2,
                                radius: 3
                            },
                            shadowSize: 0,
                            stack: true
                        },
                        grid: { hoverable: true,
                            clickable: true,
                            tickColor: "#f9f9f9",
                            borderWidth: 0
                        },
                        legend: {
                            // show: false
                            labelBoxBorderColor: "#fff"
                        },
                        colors: ["#30a0eb"],
                        xaxis: {
                            ticks:result.ticks,
                            tickDecimals:0,
                            font: {
                                size: 12,
                                family: "Open Sans, Arial",
                                variant: "small-caps",
                                color: "#697695"
                            }
                        },
                        yaxis: {
                            ticks:3,
                            tickDecimals: 0,
                            font: {size:12, color: "#9da3a9"}
                        }
                    });
        });
        // jQuery Flot Chart

    }
    var showTooltip = function(x, y, contents) {
        $('<div id="tooltip">' + contents + '</div>').css( {
            position: 'absolute',
            display: 'none',
            top: y - 30,
            left: x - 50,
            color: "#fff",
            padding: '2px 5px',
            'border-radius': '6px',
            'background-color': '#000',
            opacity: 0.80
        }).appendTo("body").fadeIn(200);
    }

    $(function () {
        linefun(); //默认折线图
        //设置每个点的显示文本
        var previousPoint = null;
        $("#statsChart").bind("plothover", function (event, pos, item) {
            if (item) {
                if (previousPoint != item.dataIndex) {
                    previousPoint = item.dataIndex;

                    $("#tooltip").remove();
                    var x = item.datapoint[0].toFixed(0),
                            y = item.datapoint[1].toFixed(0);

                    var month = item.series.xaxis.ticks[item.dataIndex].label;

                    showTooltip(item.pageX, item.pageY,
                            month + '的'+ item.series.label + y); //显示的文本
                }
            }
            else {
                $("#tooltip").remove();
                previousPoint = null;
            }
        });
    });

</script>

</body>
</html>